.container {
  background: #fff;
  margin: 0 0 20px 0;
  border-radius: 5px;
  user-select: none;
}

.header {
  padding: 15px 10px;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.buttonCancel {
  width: 100%;
  padding: 15px 0;
  color: #005ff9;
  border-radius: 5px;
  font-family: Roboto-Regular, sans-serif;
}

.modalWindow {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.modalContainerWindowModal {
  padding: 0 15px 25px;
}
