.modalWindow {
  animation: showModal 0.5s ease-in-out;
}

.overlayModalWindow {
  background: #fff;
}

.containerWindowModal {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
}

.message {
  font-size: 18px;
  line-height: 26px;
  font-family: Roboto-Regular, sans-serif;
  margin: 15px 0;
}

.button {
  width: calc(100% - 40px);
  padding: 12px 0;
  position: absolute;
  bottom: 20px;
  border-radius: 50px;
  background: #eb008d;
  color: #fff;
  font-family: Roboto-Regular, sans-serif;
  font-weight: bold;
}

.button:hover {
  background: rgba(235, 0, 141, 0.8);
}

@keyframes showModal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
