.phone {
  width: 300px;
  height: 600px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  flex-shrink: 0;
  box-shadow: 0 5px 32px rgba(0, 0, 0, 0.15);
}

.screen {
  width: 90%;
  height: 75%;
  border: 1px solid rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .phone {
    margin: 50px 0;
  }
}
