.currencyItem {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.currencyInfo {
  color: #005ff9;
}

.flagIcon {
  flex-shrink: 0;
}

.flagIcon + .currencyInfo {
  margin: 0 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
