.container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  user-select: none;
}

.container + .container::before {
  content: "";
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.05);
}

.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.currencyNameContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.currencyName {
  width: 66px;
  overflow: hidden;
  white-space: nowrap;
}

.currencyName,
.inputNumber,
.inputNumber::placeholder {
  font-size: 34px;
  line-height: 45px;
  font-family: Roboto-Regular, sans-serif;
  color: #333;
}

.balance {
  color: #999;
  margin-top: 5px;
  display: inline-block;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.inputNumber {
  width: 100%;
  text-align: right;
  border: none;
  background: none;
}

.inputNumber::placeholder {
  color: #999;
}

.downArrowIcon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
