.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.footer {
  padding: 0 0 20px;
}

.exchangeButton {
  width: 100%;
  padding: 15px 0;
  border-radius: 50px;
  background: #eb008d;
  color: #fff;
  font-family: Roboto-Regular, sans-serif;
  font-weight: bold;
  margin: 0 0 25px;
}

.exchangeButton:disabled {
  opacity: 0.2;
}
