.container {
  max-width: 500px;
}

.title {
  font-size: 64px;
  line-height: 80px;
  font-weight: 400;
  font-family: Futura-New, sans-serif;
}

.text {
  margin: 20px 0 0;
  color: #a0a6ad;
  font-size: 17px;
  line-height: 24px;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 45px;
    line-height: 60px;
  }
}
