.ratesContainer {
  border-radius: 50px;
  padding: 4px 15px;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}

.ratesText {
  color: rgb(70, 153, 207);
  font-size: 12px;
}
