.buttonReverse {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background: #fff;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.05);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: rgb(70, 153, 207);
}
