.App {
  max-width: 1180px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 48px;
  position: relative;
}

@media screen and (max-height: 640px) {
  .App {
    height: 640px;
  }
}

@media screen and (max-width: 900px) {
  .App {
    flex-direction: column;
    padding-top: 100px;
  }
}
