@font-face {
  font-family: "Futura-New";
  src: url("assets/fonts/Futura-New/FuturaNewBook-Reg.eot");
  src: url("assets/fonts/Futura-New/FuturaNewBook-Reg.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/Futura-New/FuturaNewBook-Reg.svg#FuturaNewBook-Reg")
      format("svg"),
    url("assets/fonts/Futura-New/FuturaNewBook-Reg.ttf") format("truetype"),
    url("assets/fonts/Futura-New/FuturaNewBook-Reg.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("assets/fonts/Roboto-Regular/Roboto-Regular.eot");
  src: url("assets/fonts/Roboto-Regular/Roboto-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/Roboto-Regular/Roboto-Regular.woff2") format("woff2");
  src: url("assets/fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular")
      format("svg"),
    url("assets/fonts/Roboto-Regular/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('assets/fonts/Roboto-Light/Roboto-Light.eot');
  src: url('assets/fonts/Roboto-Light/Roboto-Light.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Roboto-Light/Roboto-Light.svg#Roboto-Light') format('svg'),
  url('assets/fonts/Roboto-Light/Roboto-Light.ttf') format('truetype'),
  url('assets/fonts/Roboto-Light/Roboto-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

